/* Global */
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

:root{
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayBlue:hsl(233, 8%, 79%) ;
  --darkGrayBlue: hsl(236, 13%, 42%);
  --darkBlue: hsl(240, 100%, 5%);
}

body{  
  font-family: Inter;
  max-width: 1000px;
  width: 80%;
  height: calc(100vh - 7rem);
  margin: 5rem auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;  
  background-color: var(--offWhite);
}

/* Responsive */
@media (max-width:750px) {
  body{
    width: 90%;
    height: 100%;
    margin: auto;
  }  
}

/*----------------------- Header -----------------------*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.nav--item{
  color: var(--darkGrayBlue);
  padding-block: 1rem;
  transition: 0.3s;
  display: flex;
  justify-content: end;
  margin-left: 2rem;
  font-size: 0.9rem;
}
.nav--item:hover{
  color: var(--softRed);
  cursor: pointer;
}
.mobile--nav{
  display: none;
}
div#js--closeNavbar {
  height: 40px;
}

@media (max-width: 750px) {
  header{
    margin-top: 2rem;
    z-index: 2;
  }
  .mobile--nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--offWhite);
    height: 100%;
    z-index: 3; 
    overflow: hidden;
    top:0;
    padding-top: 2rem;
  }
  .disableBack{
    height: 100vh;
    width: 100vh;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0,0, 0.4);
    top: 0%;
    left: 0;
  }
  .nav--closed{
    transition: 0.5s;
    width: 0%;
  }
  .nav--open{
    transition: 0.5s;
    width: 65%;   
  }
  .nav--item{
    justify-content: start;
    margin-right: 7rem;
  }
  #js--closeNavbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 4rem;
  }
  #js--closeNavbar>img{
    padding-right: 2rem;
  }
}

/*----------------------- MainSection -----------------------*/
.mainSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Section */
.mainSection--left{
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainSection--left--image{
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  width: 100%;
  height: 60%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}
.mainSection--left--content{
  height: 35%;
  display: flex;
  flex-direction: row;
}
.mainSection--title{
  width: 45%;
  font-size: 2.9rem;
  font-weight: 900;
  margin: 0;
}
.mainSection--left--content-right{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.mainSection--left-text{
  font-size: 0.9rem;
  color: var(--darkGrayBlue);
  font-weight: 100;
  line-height: 1.5rem;
}
.mainSection--left--content-right>button{
  background-color: var(--softRed);
  color: var(--offWhite);
  text-transform: capitalize;
  padding: 0.9rem 2.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border: none;
  transition: 0.3s;
}
.mainSection--left--content-right>button:hover{
  cursor: pointer;  
  background-color: var(--darkBlue);
}

/* Responsive */
@media (max-width: 750px) {
  .mainSection{
    flex-direction: column;
    height: 100%;    
    padding-bottom: 3rem;
  }
  .mainSection--left{
    width: 100%;
  }
  .mainSection--left--image{
    aspect-ratio: 1/1;
    background-image: url("./assets/images/image-web-3-mobile.jpg");  
    background-size: contain;
  }
  .mainSection--left--content{
    flex-direction: column;
    width: 100%;    
    padding-bottom: 1rem;
  }
  .mainSection--title{
    width: 100%;
    padding-bottom: 1rem;}
  .mainSection--left--content-right{
    width: 100%;
    padding-bottom: 2rem;
  }
  .mainSection--left-text{    
    padding-bottom: 1rem;
  }
}


/* NEW */
.mainSection--news{
  width: 33.3333%;
  height: 100%;
  background-color: var(--darkBlue);
  color: var(--offWhite);
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
}

.mainSection--news--title{
  font-size: 2rem;
  font-weight: 900;
  padding-top: 1.5rem;
  color: var(--softOrange);
}

.mainSection--news--content{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.news--item{
  margin-block: 1.4rem;
}
.news--itemTitle{
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
  transition: 0.3s;
}
.news--itemTitle:hover{
  color: var(--softOrange);
  cursor: pointer;
}
.news--itemContent{
  color: var(--grayBlue);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.news--separator{
  border-bottom: 1px solid var(--darkGrayBlue);
}

@media (max-width: 750px) {
  .mainSection--news{
    width: 100%;
  }}


/*----------------------- Numbered Section -----------------------*/

.numberedSection{
  display: flex;
  flex-direction: row;
}

.numberedSection--item{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 33.3333%;
}
.numberedSection--img>img{
  height: 7rem;
}
.numberedSection--content{
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numberedSection--number{
  font-size: 1.8rem;
  color: var(--grayBlue);
  font-weight: bold;
}
.numbredSection--title{
  font-weight: 900;
  font-size: 1rem;
  transition: 0.3s;
}
.numbredSection--title:hover{
  color:var(--softRed);
  cursor: pointer;
}
.numberedSection--text{
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--darkGrayBlue);
  line-height: 1.3rem;
}

/* Responsive */

@media (max-width: 750px) {
  .numberedSection{
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .numberedSection--item{
    width: 100%;
    padding-bottom: 1.5rem;
  }
}

/* Frontend Mentor */
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (max-width: 750px) {
    .attribution{
      padding-bottom: 3rem;
    }
  }
